In [1]:
from utils.dict_transform import dict2obj

import os 
import math
import matplotlib.pyplot as plt
import keras
import pandas as pd
import numpy as np

from keras.models import Sequential
from keras.layers import (
    Dense, LSTM, LSTMCell, Dropout
)
from keras.callbacks import EarlyStopping
from keras.utils.vis_utils import plot_model
from keras.optimizers import adam_v2, sgd_experimental

from sklearn.metrics import (
    mean_absolute_error as mae, 
    mean_squared_error as mse
)
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

from bunch import bunchify

2022-07-28 05:57:33.783201: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-07-28 05:57:33.783251: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [2]:
DATASET_DIR = "../datasets/"
MODEL_DIR = "../models/"
FILE_DIR = "./"
SAMPLE = "JPY"

In [3]:
df = pd.read_csv(f"../datasets/{SAMPLE.lower()}-merged.csv", index_col=0, header=0)

# Data Single Fitur Configuration

Pada tahap ini data yang diproses hanya fitur data ***Price*** saja. fitur  ***Open***, ***High***, dan ***Low*** diabaikan.

> **Notes**
>
> perform the process of sharing training and test data, then the data will be normalized in standard form.

## Data spliting (training & testing)

> **Notes**
> Pembagian data training dan testing menggunakan rasio 80% awal untuk training dan 20% terakhir sebagai testing

In [4]:
# split function
def split(data, n_train=.8, n_test=.2):
    n_data = len(data)
    train_set = data.value.iloc[:round(n_train*n_data)].values
    test_set = data.value.iloc[round(n_train*n_data):].values
    return train_set, test_set

In [5]:
datasets = {}
datasets['train_set'], datasets['test_set'] = split(df)

In [6]:
f"total -> {len(df)} | ", len(datasets['train_set']), len(datasets['test_set'])

('total -> 2557 | ', 2046, 511)

In [9]:
df[:12]

             value
date
2014-01-01  115.60
2014-01-02  115.90
2014-01-03  115.81
2014-01-04  116.02
2014-01-05  115.89
2014-01-06  116.49
2014-01-07  116.71
2014-01-08  116.37
2014-01-09  115.93
2014-01-10  116.25
2014-01-11  115.98
2014-01-12  115.73