In [11]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv('../records/JPY_IDR_exchange_record_1990.csv', index_col=0, header=0)

In [10]:
df

                70.93851154713339
915408000000
915494400000            71.387122
915580800000            70.358586
915667200000            71.460130
915753600000            71.895317
916012800000            73.127716
...                           ...
1656979200000          110.840587
1657065600000          110.495083
1657152000000          110.164631
1657238400000          110.047782
1657324800000          110.051804

[8368 rows x 1 columns]